
$color-chapter-content-background-day1: #C8B49B;
$color-chapter-content-font-day1: #1B1309;

$color-font-1: #303133; // 1级文字 主要文字
$color-font-2: #606266; // 2级文字 常规文字
$color-font-3: #909399; // 3级文字 次要文字
$color-font-4: #C0C4CC; // 4级文字 占位文字
